<h1 class="text-center mb-5">Detail Kontak</h1>

<div class="col-lg-8 mx-auto text-center">
    <h4 class="text-center my-3"><%= contact.name %></h4>

    <ul class="list-group list-group-horizontal justify-content-center">
        <li class="list-group-item"><%= contact.name %></li>
        <li class="list-group-item"><%= contact.noTelp %></li>
    </ul>

    <div class="d-flex justify-content-end">
        <a href="/contact" class="btn btn-warning">Kembali</a>
    </div>
</div>