<h1 class="text-center mb-5">Ubah Kontak</h1>

<div class="col-lg-8 mx-auto">
    <form method="POSt">
        <div class="form-floating mb-3">
            <input name="name" type="text" class="form-control" id="floatingName" value="<%= contact.name %>">
            <label for="floatingName">Nama</label>
        </div>
        <div class="form-floating mb-3">
            <input name="noTelp" type="number" class="form-control" id="floatingNoTelp" value="<%= contact.noTelp %>">
            <label for="floatingNoTelp">Nomor Telepon</label>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <a href="/contact" class="btn btn-warning">Kembali</a>
            <button class="btn btn-primary" type="submit" id="update-contact">Simpan</button>
        </div>
    </form>
</div>