<h1 class="text-center">Adha Dont Differatama</h1>

<figure class="text-center my-5">
    <img src="/1677177624_b314b0f51a374af1e6ac.png" alt="user-profile" />
</figure>

<p class="text-center">
    Adha Dont Differatama, mahasiswa informatika Universitas Bengkulu angkatan 2019.
    <br />
    Mengenal programming sejak, 2019. Tertarik pada <span class="fst-italic fw-bold">machine learning</span>
</p>